QWidget {
	background-color: #232529;
	/*color: #F8F8F2;*/
}

QCheckBox {
	background-color: #111111;
	color: #eeeeee;
	font-family: "Lato Semibold";
	font-size: 14px;
}

QComboBox {
	background-color: #111111;
	color: #eeeeee;
	font-family: "Lato Semibold";
	font-size: 14px;
}

QDialog {
	background-color: #111111;
	color: #eeeeee;
	font-family: "Lato Semibold";
	font-size: 14px;
}

QGroupBox {
	background-color: #111111;
	color: #eeeeee;
	font-family: "Lato Semibold";
	font-size: 14px;
}

QHeaderView {
	background-color: #808080;
	color: #FFFFFF;
	font-weight: bold;
	font-family: "Lato Semibold";
	font-size: 14px;
}

QHeaderView:section {
	background-color: #808080;
	color: #FFFFFF;
	font-weight: bold;
}

QLabel {
	background-color: #111111;
	color: #eeeeee;
	font-family: "Lato Semibold";
	font-size: 14px;
}

QLabel[StartPageWelcome=true] {
	font-size: 44px;
}

QLabel[small=true] {
	font-size: 10px;
}

QLabel[adminInfo=true] {
	color: #FF0000;
}

QLabel[error=true] {
	color: #FF0000;
}

QLineEdit {
	background-color: #111111;
	color: #eeeeee;
	font-family: "Lato Semibold";
	font-size: 14px;
}

QListView {
	background-color: #111111;
	color: #eeeeee;
	font-family: "Lato Semibold";
	font-size: 14px;
}

QListView::item:hover {
	background-color: #808080;
	color: #FFFFFF;
}

QListView::item:selected {
	background-color: #800000;
	color: #FFFFFF;
}

QMenuBar {
	background-color: #111111;
	color: #eeeeee;
	font-family: "Lato Semibold";
	font-size: 14px;
}

QMenuBar::item:selected {
	background: #808080;
	color: #FFFFFF;
}

QMenu {
	background-color: #111111;
	color: #eeeeee;
	font-family: "Lato Semibold";
	font-size: 14px;
}

QMenu::item:selected {
	background: #808080;
	color: #FFFFFF;
}

QMenu::item:disabled {
	color: #bbbbbb;
}

QPushButton::disabled {
	color: #bbbbbb;
}

QPushButton::hover {
	background: #808080;
	color: #FFFFFF;
}

QPushButton[donateButton=true] {
	border: none;
	image: url(":/donate.png");
}

QPushButton::hover[donateButton=true] {
	image: url(":/donate_hover.png");
	background-color: #111111 !important;
}

QDoubleSpinBox {
	background-color: #111111;
	color: #eeeeee;
	font-family: "Lato Semibold";
	font-size: 14px;
}

QScrollArea[default=true] {
	background-color: #111111;
	color: #eeeeee;
}

QSpinBox {
	background-color: #111111;
	color: #eeeeee;
	font-family: "Lato Semibold";
	font-size: 14px;
}

/* tab bar: startpage, infos,... */
QTabBar {
	color: #111111; /* text color */
	font-family: "Lato Semibold";
	font-size: 14px;
}

QTabBar::tab {
	background-color: #111111;
	color: #eeeeee;
}

QTabBar::tab:selected {
	background-color: #404040;
	color: #F8F8F2;
	font-weight: bold;
}

QTabBar::tab:hover {
	background-color: #808080;
	color: #FFFFFF;
}
/* ? */
QTabBar::tab:disabled {
	color: #1F201B;
}

QTableView {
	background-color: #111111 !important;
	color: #eeeeee !important;
	font-family: "Lato Semibold";
	font-size: 14px;
}

QTableView::item {
	background-color: #111111 !important;
	color: #eeeeee !important;
}

QTableView::item:selected {
	background-color: #800000;
	color: #FFFFFF;
}

QTableView::item:disabled {
	background-color: #101010;
	color: #bbbbbb;
}

QTreeView {
	background-color: #111111 !important;
	color: #eeeeee !important;
	font-family: "Lato Semibold";
	font-size: 14px;
}

QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
	border-image: none;
	image: url(:/branch-closed.png);
	background-color: #111111;
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
	border-image: none;
	image: url(:/branch-open.png);
	background-color: #111111;
}

QTreeView::item {
	background-color: #111111 !important;
	color: #FFFFFF !important;	
}

QTreeView::item:selected {
	background-color: #800000;
	color: #FFFFFF;
}

QTreeView::item:disabled {
	background-color: #F0F0F0;
	color: #bbbbbb;
}

QLabel[profileHeader=true] {
	font-size: 24px;
	background-color: #111111;
}

QLabel[FAQQuestion=true] {
	font: bold 18px;
	background-color: #111111;
}

QWidget[FAQ=true] {
	background-color: #111111;
}

QPushButton[logout=true] {
	font-size: 10px;
	background-color: #111111;
}

QCheckBox[noLogin=true] {
	font-size: 10px;
	background-color: #111111;
}

QPushButton[noLogin=true] {
	font-size: 10px;
	background-color: #111111;
}

QWidget#ProfileModView {
	border: 2px solid #4f4f51;
	border-radius: 6px;
	
	background-color: #111111;
	color: #eeeeee;
	font-family: "Lato Semibold";
	font-size: 14px;
}

QPushButton {
	background-color: #111111;
	font-family: "Lato Semibold";
	font-size: 14px;
	color: #eeeeee;
}

QTableView::item:enabled[score=true] {
	background-color: #800000;
	color: #FFFFFF;
}

QTableView::item:disabled[score=true] {
	background-color: #111111;
	color: #eeeeee;
}

QTextBrowser {
	border: 2px solid #FFFFFF;
	background-color: #111111;
	font-size: 14px;
}

QDateEdit {
	font-family: "Lato Semibold";
	font-size: 14px;
	background-color: #111111;
	color: #eeeeee;
}

QWidget#AchievementView {
	border: 2px solid #4f4f51;
	
	background-color: #111111;
	color: #eeeeee;
	font-family: "Lato Semibold";
	font-size: 14px;
}

QWidget#NewsWidget {
	border: 2px solid #4f4f51;
	border-radius: 6px;
	
	background-color: #111111;
	color: #eeeeee;
	font-family: "Lato Semibold";
	font-size: 14px;
}

QWidget[default=true] {
	background-color: #111111;
}

QWidget:disabled[library=true] {
	background-color: #222222;
}

QLabel[newsTitle=true] {
	font-size: 24px;
	background-color: #111111;
	color: #eeeeee;
}

QLabel[newsTimestamp=true] {
	font-size: 24px;
	background-color: #111111;
	color: #eeeeee;
}

QTextEdit[newsText=true] {
	font-size: 14px;
	background-color: #111111;
	color: #eeeeee;
}

QWidget[achievementEditor=true] {
	background-color: #111111;
	color: #eeeeee;
}

QLabel[modnameTitle=true] {
	font-size: 24px;
	background-color: #111111;
	color: #eeeeee;
}

QLabel[requestName=true] {
	font-size: 24px;
	background-color: #111111;
	color: #eeeeee;
}

QLabel[hiddenAchievementCount=true] {
	font-size: 24px;
	background-color: #111111;
	color: #eeeeee;
}

QTableView[newsTicker=true] {
	border: none;
	background-color: #111111;
	color: #eeeeee;
}

QLabel[waitSpinner=true] {
	background-color: #004444;
	color: #eeeeee;
}